html, body {
	color: whitesmoke;
	background-color: darkslategray;
	overflow: auto;
	scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
	display: none;
}

.application {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: auto;
	scrollbar-width: none;
}

.application::-webkit-scrollbar {
	display: none;
}

.navigation {
}

.nav-item {
	padding: 1rem;
	cursor: pointer;
}

.pinned-projects-container {
    margin: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.pinned-project {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.pinned-project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.tech-tags {
    margin: 10px 0;
}

.tech-tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

@media (min-width: 769px) {
    .nav-menu {
        display: block;
    }
    .nav-toggle {
        display: none;
    }
    .nav-item {
        display: inline-block;
        margin-right: 10px;
    }
    .separator {
        display: inline;
    }
}

@media (min-width: 769px) {
    .nav-menu {
        display: block;
    }
    .nav-toggle {
        display: none;
    }
    .nav-item {
        display: inline-block;
        margin-right: 10px;
    }
    .separator {
        display: inline;
    }
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1001;
        color: whitesmoke;
    }
    .nav-menu {
        display: none;
    }
    .nav-menu.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
	background-color: darkslategray;
        z-index: 1000;
        padding-top: 50px;
    }
    .nav-menu.open .nav-item {
        color: whitesmoke;
    }
    .nav-item {
        display: block;
        padding: 20px;
        text-align: center;
        font-size: 30px;
    }
    .separator {
        display: none;
    }
}
